.featured {
  color: white;
}

.featured .container {
  height: 600px;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

@media (max-width: 928px) {
  .featured .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.featured .container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

@media (max-width: 928px) {
  .featured .container .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.featured .container .left h1 {
  font-size: 50px;
}

.featured .container .left h1 span {
  font-style: italic;
  font-weight: 300;
}

@media (max-width: 928px) {
  .featured .container .left h1 {
    font-size: 20px;
  }
}

.featured .container .left .search {
  background-color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

@media (min-width: 360px) and (max-width: 928px) {
  .featured .container .left .search {
    width: 300px;
  }
}

.featured .container .left .search .searchInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.featured .container .left .search .searchInput img {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.featured .container .left .search .searchInput input {
  border: none;
  outline: none;
}

.featured .container .left .search .searchInput input::-webkit-input-placeholder {
  color: gray;
}

.featured .container .left .search .searchInput input:-ms-input-placeholder {
  color: gray;
}

.featured .container .left .search .searchInput input::-ms-input-placeholder {
  color: gray;
}

.featured .container .left .search .searchInput input::placeholder {
  color: gray;
}

.featured .container .left .search button {
  width: 120px;
  height: 50px;
  border: none;
  background-color: #1dbf73;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.featured .container .left .popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media (min-width: 374px) and (max-width: 928px) {
  .featured .container .left .popular {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.featured .container .left .popular span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.featured .container .left .popular button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 14px;
}

.featured .container .right {
  height: 100%;
}

.featured .container .right img {
  width: 450px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 932px) {
  .featured .container .right img {
    width: 270px;
  }
}
/*# sourceMappingURL=Featured.css.map */