.myGigs {
  display: flex;
  justify-content: center;
  color: #555;

  .container {
    width: 1000px;
    padding: 50px 0px;

    .title {
      display: flex;
      justify-content: space-between;
      @media (min-width: 319px) and (max-width: 928px) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;
      
      
      
        }

      button {
        background-color: #1dbf73;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }

    table {
      width: 100%;

      @media (min-width: 319px) and (max-width: 928px) {
          width: 75%;
          margin: 0 auto;
      
      
        }

      tr {
        height: 50px;

        th {
          text-align: left;
        }

        td {

          sup {
            font-size: 12px;
          }

          .image {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }

          .delete {
            width: 20px;
            cursor: pointer;
          }

        }

        &:nth-child(even) {
          background-color: #1dbf730f;
        }
      }
    }
  }
}